<footer>
    <div class="container d-flex justify-content-center align-items-center pb-md-5 pt-md-5">
        <p class="lead mb-0">This is the footer. Should it include contact information?</p>
    </div>
    <div class="container">
        <div class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <div class="navbar col-md-2 d-flex align-items-center">
                <a class="navbar-brand" href="index.html">
                    <i class="fa-solid fa-chess-knight mr-l"></i> Stoner Rock
                </a>
            </div>
            <div class="col-md-8">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 flex-row align-items-center justify-content-evenly">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Inicio</a>
                      </li>
                    <li class="nav-item">
                        <a class="nav-link" href="place.html">El lugar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="band.html">La Banda</a>
                    </li>
                    <li class="nav-item">
                         <a class="nav-link" href="festival.html">El Festival</a>
                    </li>         
                  </ul>
            </div>
        
            <ul class="col-md-2 justify-content-end list-unstyled d-flex mb-0">
              <li class="ms-3"><a class="text-muted" href="#"><i class="fa-solid fa-chess-knight mr-l"></i></a></li>
              <li class="ms-3"><a class="text-muted" href="#"><i class="fa-solid fa-chess-knight mr-l"></i></a></li>
              <li class="ms-3"><a class="text-muted" href="#"><i class="fa-solid fa-chess-knight mr-l"></i></a></li>
            </ul>
        </div>
    </div>    
</footer>